# Data Cleaning 

#### 1. Import pandas library.

In [2]:
import pandas as pd

#### 2. Import the users table.

In [3]:
table = pd.read_csv('../data/users.csv')

table.head()

   Unnamed: 0  Id  Reputation  Views  UpVotes  DownVotes
0           0  -1           1      0     5007       1920
1           1   2         101     25        3          0
2           2   3         101     22       19          0
3           3   4         101     11        0          0
4           4   5        6792   1145      662          5

#### 3. Rename Id column to userId.

In [4]:
table.rename(columns={"Id":"userId"},inplace=True)
table

       Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0               0      -1           1      0     5007       1920
1               1       2         101     25        3          0
2               2       3         101     22       19          0
3               3       4         101     11        0          0
4               4       5        6792   1145      662          5
...           ...     ...         ...    ...      ...        ...
40320       40320   55743           1      0        0          0
40321       40321   55744           6      1        0          0
40322       40322   55745         101      0        0          0
40323       40323   55746         106      1        0          0
40324       40324   55747           1      0        0          0

[40325 rows x 6 columns]

#### 4. Import the posts table.

In [7]:
posts = pd.read_csv('../data/posts.csv')

posts.head()

   Unnamed: 0  Id  OwnerUserId  Score  ViewCount  CommentCount
0           0   1          8.0     23     1278.0             1
1           1   2         24.0     22     8198.0             1
2           2   3         18.0     54     3613.0             4
3           3   4         23.0     13     5224.0             2
4           4   5         23.0     81        NaN             3

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [8]:
posts.rename(columns={'Id':'postId','OwnerUserId':'userId'},inplace=True)

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [9]:
users_sliced = table[['userId','Reputation','Views','UpVotes','DownVotes']]
users_sliced.head()

posts_sliced = posts[['postId','Score','userId','ViewCount','CommentCount']]
posts_sliced.head()
posts_sliced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   postId        91976 non-null  int64
 1   Score         91976 non-null  int64
 2   userId        90584 non-null  float64
 3   ViewCount     42921 non-null  float64
 4   CommentCount  91976 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 3.5 MB

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [40]:
merged = users_sliced.merge(posts_sliced)

merged

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [41]:
merged.isna().sum()

# 48396 missing in column "ViewCount"

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

In [42]:
merged['ViewCount'].describe()

count     42188.000000
mean        556.656158
std        2356.930779
min           1.000000
25%          53.000000
50%         126.000000
75%         367.000000
max      175495.000000
Name: ViewCount, dtype: float64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [43]:
merged['ViewCount'] = merged['ViewCount'].fillna(0)

merged

#the minimum value in that column is 1 so we can deduce that the posts with NaN as the ViewCount are probably
# those that had zero views. Therefore we can fill those values with 0

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [44]:
merged['ViewCount'] = merged['ViewCount'].astype('int')

merged.info()
#It makes sense that ViewCount are integers as it's counting the number of views (before it was a float)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  int64
 8   CommentCount  90584 non-null  int64
dtypes: int64(9)
memory usage: 6.9 MB