# Data Cleaning 

#### 1. Import pandas library.

In [2]:
import pandas as pd
import numpy as np
import os

#### 2. Import the users table.

In [3]:
users_data = pd.read_csv("/Users/m.soren/Desktop/Ironhack/Labs/Lab11/lab-data-cleaning/data/users.csv")

#### 3. Rename Id column to userId.

In [31]:
users_data = users_data.rename({"Id": "userId"}, axis=1)

In [32]:
users_data.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

#### 4. Import the posts table.

In [7]:
posts_data = pd.read_csv("/Users/m.soren/Desktop/Ironhack/Labs/Lab11/lab-data-cleaning/data/posts.csv")

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [23]:

posts_data = posts_data.rename(columns={"Id": "postId", "OwnerUserId": "userId"})

In [21]:
posts_data.head()

   postId  userId  Score  ViewCount  CommentCount
0       1     8.0     23     1278.0             1
1       2    24.0     22     8198.0             1
2       3    18.0     54     3613.0             4
3       4    23.0     13     5224.0             2
4       5    23.0     81        NaN             3

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes      
**posts_sliced columns**: postId, Score, userId, ViewCount

In [33]:
users_sliced_columns = users_data.filter(["userId", "Reputation", "Views", "UpVotes"], axis=1)
posts_sliced_columns = posts_data.filter(["postId", "Score", "userId", "ViewCount"], axis=1)

In [34]:
users_sliced_columns.head()

   userId  Reputation  Views  UpVotes
0      -1           1      0     5007
1       2         101     25        3
2       3         101     22       19
3       4         101     11        0
4       5        6792   1145      662

In [35]:
posts_sliced_columns.head()

   postId  Score  userId  ViewCount
0       1     23     8.0     1278.0
1       2     22    24.0     8198.0
2       3     54    18.0     3613.0
3       4     13    23.0     5224.0
4       5     81    23.0        NaN

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [36]:
new_df = pd.merge(posts_sliced_columns, users_sliced_columns)
new_df.head()

   postId  Score  userId  ViewCount  Reputation  Views  UpVotes
0       1     23     8.0     1278.0        6764   1089      604
1      16     16     8.0        NaN        6764   1089      604
2      36     41     8.0    67396.0        6764   1089      604
3      65     14     8.0        NaN        6764   1089      604
4      78     33     8.0        NaN        6764   1089      604

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [44]:
new_df.isnull().sum()

print("Seems like all of them are in one Column")

postId            0
Score             0
userId            0
ViewCount     48396
Reputation        0
Views             0
UpVotes           0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [47]:
new_df = new_df.drop("ViewCount", axis=1)
new_df
print("We have over 90k rows in this, but viewercounts is over 50%  empty. I would just completly drop that column because just 'making up' that many values is not representative. Same as dropping all the rows, you loose to much data. ")

We have over 90k rows in this, but viewercounts is over 50%  empty. I would just completly drop that column because just 'making up' that many values is not representative. Same as dropping all the rows, you loose to much data.

In [48]:
new_df.head()

   postId  Score  userId  Reputation  Views  UpVotes
0       1     23     8.0        6764   1089      604
1      16     16     8.0        6764   1089      604
2      36     41     8.0        6764   1089      604
3      65     14     8.0        6764   1089      604
4      78     33     8.0        6764   1089      604

In [49]:
new_df.isnull().sum()

postId        0
Score         0
userId        0
Reputation    0
Views         0
UpVotes       0
dtype: int64