# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd
import numpy as np

#### 2. Import the users table.

In [23]:
users = pd.read_csv(r"C:\Users\tmink\Documents\GitHub\_Ironhack\Bootcamp\Week2\Day2\lab-data-cleaning\data\users.csv")
users_original = users.copy()

In [27]:
users

       Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0               0      -1           1      0     5007       1920
1               1       2         101     25        3          0
2               2       3         101     22       19          0
3               3       4         101     11        0          0
4               4       5        6792   1145      662          5
...           ...     ...         ...    ...      ...        ...
40320       40320   55743           1      0        0          0
40321       40321   55744           6      1        0          0
40322       40322   55745         101      0        0          0
40323       40323   55746         106      1        0          0
40324       40324   55747           1      0        0          0

[40325 rows x 6 columns]

#### 3. Rename Id column to userId.

In [26]:
users = users.rename(columns={ 'Id':'userId'})

In [28]:
users

       Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0               0      -1           1      0     5007       1920
1               1       2         101     25        3          0
2               2       3         101     22       19          0
3               3       4         101     11        0          0
4               4       5        6792   1145      662          5
...           ...     ...         ...    ...      ...        ...
40320       40320   55743           1      0        0          0
40321       40321   55744           6      1        0          0
40322       40322   55745         101      0        0          0
40323       40323   55746         106      1        0          0
40324       40324   55747           1      0        0          0

[40325 rows x 6 columns]

#### 4. Import the posts table.

In [40]:
posts = pd.read_csv(r"C:\Users\tmink\Documents\GitHub\_Ironhack\Bootcamp\Week2\Day2\lab-data-cleaning\data\posts.csv")
posts_original = posts.copy()

In [41]:
posts

       Unnamed: 0      Id  OwnerUserId  Score  ViewCount  CommentCount
0               0       1          8.0     23     1278.0             1
1               1       2         24.0     22     8198.0             1
2               2       3         18.0     54     3613.0             4
3               3       4         23.0     13     5224.0             2
4               4       5         23.0     81        NaN             3
...           ...     ...          ...    ...        ...           ...
91971       91971  115374        805.0      2        NaN             2
91972       91972  115375      49365.0      0        9.0             0
91973       91973  115376      55746.0      1        5.0             2
91974       91974  115377        805.0      0        NaN             0
91975       91975  115378       7250.0      0        NaN             0

[91976 rows x 6 columns]

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [42]:
posts = posts.rename(columns={ 'Id':'postId', 'OwnerUserId':'userId'})

In [43]:
posts

       Unnamed: 0  postId   userId  Score  ViewCount  CommentCount
0               0       1      8.0     23     1278.0             1
1               1       2     24.0     22     8198.0             1
2               2       3     18.0     54     3613.0             4
3               3       4     23.0     13     5224.0             2
4               4       5     23.0     81        NaN             3
...           ...     ...      ...    ...        ...           ...
91971       91971  115374    805.0      2        NaN             2
91972       91972  115375  49365.0      0        9.0             0
91973       91973  115376  55746.0      1        5.0             2
91974       91974  115377    805.0      0        NaN             0
91975       91975  115378   7250.0      0        NaN             0

[91976 rows x 6 columns]

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [35]:
users_sliced = users.loc[:,["userId","Reputation","Views", "UpVotes", "DownVotes"]]

In [36]:
users_sliced

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [44]:
posts_sliced = posts.loc[:,["postId","Score","userId", "ViewCount", "CommentCount"]]

In [45]:
posts_sliced

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [47]:
sliced = users_sliced.merge(posts_sliced)

In [48]:
sliced

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [51]:
sliced.isna().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

In [52]:
sliced.isna().sum()/sliced.shape[0]

userId          0.000000
Reputation      0.000000
Views           0.000000
UpVotes         0.000000
DownVotes       0.000000
postId          0.000000
Score           0.000000
ViewCount       0.534267
CommentCount    0.000000
dtype: float64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [55]:
sliced['ViewCount'].mean() # if I clean them, it will affect the summury of the data frame so I'll fill it up with the mean

556.6561581492367

In [ ]:
mean_viewcount = sliced['ViewCount'].mean()

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [57]:
sliced['ViewCount'] = sliced['ViewCount'].fillna(mean_viewcount)

In [58]:
sliced

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,556.656158,0
1,-1,1,0,5007,1920,8576,0,556.656158,0
2,-1,1,0,5007,1920,8578,0,556.656158,0
3,-1,1,0,5007,1920,8981,0,556.656158,0
4,-1,1,0,5007,1920,8982,0,556.656158,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.000000,0
90580,55738,11,0,0,0,115360,2,40.000000,4
90581,55742,6,0,0,0,115366,1,17.000000,0
90582,55744,6,1,0,0,115370,1,13.000000,2
90583,55746,106,1,0,0,115376,1,5.000000,2