# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import os
import pandas as pd

#### 2. Import the users table.

In [2]:
os.getcwd()

'/Users/lauratll/Documents/Data_Analysis/IronHack/Week_2/DAY2/lab-data-cleaning/your-code'

In [3]:
os.chdir('../')

In [4]:
os.getcwd()

'/Users/lauratll/Documents/Data_Analysis/IronHack/Week_2/DAY2/lab-data-cleaning'

In [5]:
os.chdir('data/')

In [7]:
os.getcwd()

'/Users/lauratll/Documents/Data_Analysis/IronHack/Week_2/DAY2/lab-data-cleaning/data'

In [11]:
users = pd.read_csv("users.csv")

In [145]:
users.head()

   Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0           0      -1           1      0     5007       1920
1           1       2         101     25        3          0
2           2       3         101     22       19          0
3           3       4         101     11        0          0
4           4       5        6792   1145      662          5

#### 3. Rename Id column to userId.

In [18]:
users = users.rename(columns ={"Id":"userId"})

In [131]:
users.head(15)

    Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0            0      -1           1      0     5007       1920
1            1       2         101     25        3          0
2            2       3         101     22       19          0
3            3       4         101     11        0          0
4            4       5        6792   1145      662          5
5            5       6         457    114       47          0
6            6       7         429     56       20          0
7            7       8        6764   1089      604         25
8            8      10         121     20        2          0
9            9      11         136     10       10          0
10          10      12         101     10        5          0
11          11      13         817    178       44          1
12          12      15          11      8        0          0
13          13      16         101      4        7          0
14          14      17         345     14       13          1

#### 4. Import the posts table.

In [21]:
posts = pd.read_csv("posts.csv")

In [132]:
posts.head(15)

    Unnamed: 0  postId  userId  Score  ViewCount  CommentCount
0            0       1     8.0     23     1278.0             1
1            1       2    24.0     22     8198.0             1
2            2       3    18.0     54     3613.0             4
3            3       4    23.0     13     5224.0             2
4            4       5    23.0     81        NaN             3
5            5       6     5.0    152    29229.0             5
6            6       7    38.0     76     5808.0             3
7            7       8    37.0      0      288.0             2
8            8       9    50.0     13        NaN             3
9            9      10    24.0     23    21925.0             4
10          10      11    34.0      2      224.0             2
11          11      12     5.0     20        NaN             1
12          12      13    23.0     14        NaN             4
13          13      14    36.0      5        NaN             1
14          14      15     6.0     13        NaN             0

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [24]:
posts = posts.rename(columns = {"Id":"postId","OwnerUserId":"userId"})

In [143]:
posts.head()

   Unnamed: 0  postId  userId  Score  ViewCount  CommentCount
0           0       1     8.0     23     1278.0             1
1           1       2    24.0     22     8198.0             1
2           2       3    18.0     54     3613.0             4
3           3       4    23.0     13     5224.0             2
4           4       5    23.0     81        NaN             3

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [76]:
users_sliced= users.loc[:,["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
users_sliced

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [78]:
posts_sliced =posts.loc[:,["postId", "Score", "userId", "ViewCount", "CommentCount"]]
posts_sliced

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [86]:
users_posts = posts_sliced.merge(right =users_sliced, how="outer")

In [87]:
users_posts

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1.0,23.0,8.0,1278.0,1.0,6764.0,1089.0,604.0,25.0
1,16.0,16.0,8.0,NaN,3.0,6764.0,1089.0,604.0,25.0
2,36.0,41.0,8.0,67396.0,7.0,6764.0,1089.0,604.0,25.0
3,65.0,14.0,8.0,NaN,3.0,6764.0,1089.0,604.0,25.0
4,78.0,33.0,8.0,NaN,4.0,6764.0,1089.0,604.0,25.0
...,...,...,...,...,...,...,...,...,...
110313,NaN,NaN,55740.0,NaN,NaN,1.0,0.0,0.0,0.0
110314,NaN,NaN,55741.0,NaN,NaN,101.0,0.0,1.0,0.0
110315,NaN,NaN,55743.0,NaN,NaN,1.0,0.0,0.0,0.0
110316,NaN,NaN,55745.0,NaN,NaN,101.0,0.0,0.0,0.0
110317,NaN,NaN,55747.0,NaN,NaN,1.0,0.0,0.0,0.0

In [88]:
users_posts.head(15)

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1.0,23.0,8.0,1278.0,1.0,6764.0,1089.0,604.0,25.0
1,16.0,16.0,8.0,NaN,3.0,6764.0,1089.0,604.0,25.0
2,36.0,41.0,8.0,67396.0,7.0,6764.0,1089.0,604.0,25.0
3,65.0,14.0,8.0,NaN,3.0,6764.0,1089.0,604.0,25.0
4,78.0,33.0,8.0,NaN,4.0,6764.0,1089.0,604.0,25.0
5,111.0,8.0,8.0,NaN,3.0,6764.0,1089.0,604.0,25.0
6,114.0,30.0,8.0,1220.0,1.0,6764.0,1089.0,604.0,25.0
7,129.0,4.0,8.0,NaN,0.0,6764.0,1089.0,604.0,25.0
8,142.0,5.0,8.0,NaN,0.0,6764.0,1089.0,604.0,25.0
9,168.0,17.0,8.0,1022.0,1.0,6764.0,1089.0,604.0,25.0
10,170.0,56.0,8.0,7733.0,1.0,6764.0,1089.0,604.0,25.0
11,254.0,4.0,8.0,NaN,3.0,6764.0,1089.0,604.0,25.0
12,262.0,13.0,8.0,NaN,7.0,6764.0,1089.0,604.0,25.0
13,271.0,7.0,8.0,NaN,0.0,6764.0,1089.0,604.0,25.0
14,301.0,6.0,8.0,NaN,7.0,6764.0,1089.0,604.0,25.0

In [89]:
users_posts.tail(15)

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
110303,NaN,NaN,55723.0,NaN,NaN,1.0,0.0,0.0,0.0
110304,NaN,NaN,55725.0,NaN,NaN,1.0,0.0,0.0,0.0
110305,NaN,NaN,55726.0,NaN,NaN,1.0,0.0,0.0,0.0
110306,NaN,NaN,55727.0,NaN,NaN,1.0,0.0,0.0,0.0
110307,NaN,NaN,55728.0,NaN,NaN,1.0,0.0,0.0,0.0
110308,NaN,NaN,55732.0,NaN,NaN,101.0,0.0,0.0,0.0
110309,NaN,NaN,55735.0,NaN,NaN,1.0,0.0,0.0,0.0
110310,NaN,NaN,55736.0,NaN,NaN,1.0,0.0,0.0,0.0
110311,NaN,NaN,55737.0,NaN,NaN,1.0,0.0,0.0,0.0
110312,NaN,NaN,55739.0,NaN,NaN,1.0,0.0,0.0,0.0
110313,NaN,NaN,55740.0,NaN,NaN,1.0,0.0,0.0,0.0
110314,NaN,NaN,55741.0,NaN,NaN,101.0,0.0,1.0,0.0
110315,NaN,NaN,55743.0,NaN,NaN,1.0,0.0,0.0,0.0
110316,NaN,NaN,55745.0,NaN,NaN,101.0,0.0,0.0,0.0
110317,NaN,NaN,55747.0,NaN,NaN,1.0,0.0,0.0,0.0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [90]:
users_posts.count()

postId           91976
Score            91976
userId          108926
ViewCount        42921
CommentCount     91976
Reputation      108926
Views           108926
UpVotes         108926
DownVotes       108926
dtype: int64

In [91]:
users_posts.count()[0]

91976

In [92]:
#We get the missing values per column
users_posts.isnull().sum()

postId          18342
Score           18342
userId           1392
ViewCount       67397
CommentCount    18342
Reputation       1392
Views            1392
UpVotes          1392
DownVotes        1392
dtype: int64

In [93]:
users_posts.isnull().sum()[0]

18342

In [105]:
#I calculate the proportion of nan per column
proportions_of_nan = []
for col in range(len(users_posts.count())):
    total_count_x_colum = users_posts.count()[col]
    nan_count_x_colum = users_posts.isnull().sum()[col]
    nan_proportion = nan_count_x_colum/ total_count_x_colum
    proportions_of_nan.append(nan_proportion)

proportions_of_nan

[0.19942158824041054,
 0.19942158824041054,
 0.012779318069147862,
 1.570256983760863,
 0.19942158824041054,
 0.012779318069147862,
 0.012779318069147862,
 0.012779318069147862,
 0.012779318069147862]

In [ ]:
# There is one column with more nan than values... the View Count

In [119]:
#I can decide to merge in a different way, a left join instead of an 
#outer join, it always will depend in the information we are looking for
posts_users = posts_sliced.merge(right =users_sliced, how="left")
#In this way i have less null values and I will drop anyway the
#viewCount

In [121]:
posts_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91976 entries, 0 to 91975
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   postId        91976 non-null  int64
 1   Score         91976 non-null  int64
 2   userId        90584 non-null  float64
 3   ViewCount     42921 non-null  float64
 4   CommentCount  91976 non-null  int64
 5   Reputation    90584 non-null  float64
 6   Views         90584 non-null  float64
 7   UpVotes       90584 non-null  float64
 8   DownVotes     90584 non-null  float64
dtypes: float64(6), int64(3)
memory usage: 7.0 MB

In [124]:
posts_users.head(20)

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1,23,8.0,1278.0,1,6764.0,1089.0,604.0,25.0
1,2,22,24.0,8198.0,1,344.0,48.0,36.0,1.0
2,3,54,18.0,3613.0,4,128.0,8.0,16.0,0.0
3,4,13,23.0,5224.0,2,308.0,52.0,34.0,1.0
4,5,81,23.0,NaN,3,308.0,52.0,34.0,1.0
5,6,152,5.0,29229.0,5,6792.0,1145.0,662.0,5.0
6,7,76,38.0,5808.0,3,133.0,15.0,1.0,0.0
7,8,0,37.0,288.0,2,156.0,2.0,0.0,0.0
8,9,13,50.0,NaN,3,101.0,3.0,3.0,0.0
9,10,23,24.0,21925.0,4,344.0,48.0,36.0,1.0
10,11,2,34.0,224.0,2,185.0,27.0,23.0,0.0
11,12,20,5.0,NaN,1,6792.0,1145.0,662.0,5.0
12,13,14,23.0,NaN,4,308.0,52.0,34.0,1.0
13,14,5,36.0,NaN,1,1570.0,173.0,26.0,1.0
14,15,13,6.0,NaN,0,457.0,114.0,47.0,0.0
15,16,16,8.0,NaN,3,6764.0,1089.0,604.0,25.0
16,17,9,NaN,1261.0,0,NaN,NaN,NaN,NaN
17,18,31,36.0,NaN,1,1570.0,173.0,26.0,1.0
18,19,12,55.0,NaN,0,366.0,16.0,48.0,1.0
19,20,3,37.0,NaN,2,156.0,2.0,0.0,0.0

In [151]:
posts_users.tail()

,postId,Score,userId,CommentCount,Reputation,Views,UpVotes,DownVotes
91971,115374,2,805.0,2,65272.0,5680.0,7035.0,143.0
91972,115375,0,49365.0,0,1.0,0.0,0.0,0.0
91973,115376,1,55746.0,2,106.0,1.0,0.0,0.0
91974,115377,0,805.0,0,65272.0,5680.0,7035.0,143.0
91975,115378,0,7250.0,0,6216.0,338.0,625.0,56.0

In [128]:
#I will check for Nan

posts_users.isnull().sum()

postId              0
Score               0
userId           1392
ViewCount       49055
CommentCount        0
Reputation       1392
Views            1392
UpVotes          1392
DownVotes        1392
dtype: int64

In [130]:
posts_users.count()

postId          91976
Score           91976
userId          90584
ViewCount       42921
CommentCount    91976
Reputation      90584
Views           90584
UpVotes         90584
DownVotes       90584
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

Decide what to do, depending of the case and explain why we did that.

In [154]:
#Looking at the coluns I will just drop the column ViewCount 
#as I think it might be represent by Views
posts_users = posts_users.drop(columns="ViewCount")

KeyError: "['ViewCount'] not found in axis"

In [ ]:
#If I am interested in the posts, I can delete the rows where th

In [153]:
posts_users.describe()

,postId,Score,userId,CommentCount,Reputation,Views,UpVotes,DownVotes
count,91976.000000,91976.000000,90584.000000,91976.000000,90584.000000,90584.000000,90584.000000,90584.000000
mean,56147.699465,2.791902,16546.764727,1.895114,6282.395412,1034.245176,734.315718,33.273249
std,33975.569431,4.981867,15273.367108,2.639020,15102.268670,2880.074012,2050.869327,134.936435
min,1.000000,-19.000000,-1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,25489.750000,1.000000,3437.000000,0.000000,60.000000,5.000000,1.000000,0.000000
50%,56781.500000,2.000000,11032.000000,1.000000,396.000000,45.000000,22.000000,0.000000
75%,85909.250000,3.000000,27700.000000,3.000000,4460.000000,514.250000,283.000000,8.000000
max,115378.000000,192.000000,55746.000000,45.000000,87393.000000,20932.000000,11442.000000,1920.000000

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [149]:
posts_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91976 entries, 0 to 91975
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   postId        91976 non-null  int64
 1   Score         91976 non-null  int64
 2   userId        90584 non-null  float64
 3   CommentCount  91976 non-null  int64
 4   Reputation    90584 non-null  float64
 5   Views         90584 non-null  float64
 6   UpVotes       90584 non-null  float64
 7   DownVotes     90584 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 6.3 MB

In [147]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40325 entries, 0 to 40324
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  40325 non-null  int64
 1   userId      40325 non-null  int64
 2   Reputation  40325 non-null  int64
 3   Views       40325 non-null  int64
 4   UpVotes     40325 non-null  int64
 5   DownVotes   40325 non-null  int64
dtypes: int64(6)
memory usage: 2.2 MB

In [148]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    91976 non-null  int64
 1   postId        91976 non-null  int64
 2   userId        90584 non-null  float64
 3   Score         91976 non-null  int64
 4   ViewCount     42921 non-null  float64
 5   CommentCount  91976 non-null  int64
dtypes: float64(2), int64(4)
memory usage: 4.2 MB