# Data Cleaning 

#### 1. Import pandas library.

In [4]:
import pandas as pd

#### 2. Import the users table.

In [5]:
df = pd.read_csv(r"..\data\users.csv")
df1 = df.copy()
print(df1)
print(type(df1))

       Unnamed: 0     Id  Reputation  Views  UpVotes  DownVotes
0               0     -1           1      0     5007       1920
1               1      2         101     25        3          0
2               2      3         101     22       19          0
3               3      4         101     11        0          0
4               4      5        6792   1145      662          5
...           ...    ...         ...    ...      ...        ...
40320       40320  55743           1      0        0          0
40321       40321  55744           6      1        0          0
40322       40322  55745         101      0        0          0
40323       40323  55746         106      1        0          0
40324       40324  55747           1      0        0          0

[40325 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>

#### 3. Rename Id column to userId.

In [6]:


users = df.rename(columns={'Id': 'userId'})
#df1 = df.rename(columns = {'Id': 'userId'}, inplace = True)
print(users)

       Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0               0      -1           1      0     5007       1920
1               1       2         101     25        3          0
2               2       3         101     22       19          0
3               3       4         101     11        0          0
4               4       5        6792   1145      662          5
...           ...     ...         ...    ...      ...        ...
40320       40320   55743           1      0        0          0
40321       40321   55744           6      1        0          0
40322       40322   55745         101      0        0          0
40323       40323   55746         106      1        0          0
40324       40324   55747           1      0        0          0

[40325 rows x 6 columns]

#### 4. Import the posts table.

In [7]:
posts = pd.read_csv(r"..\data\posts.csv")

print(posts)

       Unnamed: 0      Id  OwnerUserId  Score  ViewCount  CommentCount
0               0       1          8.0     23     1278.0             1
1               1       2         24.0     22     8198.0             1
2               2       3         18.0     54     3613.0             4
3               3       4         23.0     13     5224.0             2
4               4       5         23.0     81        NaN             3
...           ...     ...          ...    ...        ...           ...
91971       91971  115374        805.0      2        NaN             2
91972       91972  115375      49365.0      0        9.0             0
91973       91973  115376      55746.0      1        5.0             2
91974       91974  115377        805.0      0        NaN             0
91975       91975  115378       7250.0      0        NaN             0

[91976 rows x 6 columns]

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [8]:

update_posts = posts.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'})

print(update_posts)

       Unnamed: 0  postId   userId  Score  ViewCount  CommentCount
0               0       1      8.0     23     1278.0             1
1               1       2     24.0     22     8198.0             1
2               2       3     18.0     54     3613.0             4
3               3       4     23.0     13     5224.0             2
4               4       5     23.0     81        NaN             3
...           ...     ...      ...    ...        ...           ...
91971       91971  115374    805.0      2        NaN             2
91972       91972  115375  49365.0      0        9.0             0
91973       91973  115376  55746.0      1        5.0             2
91974       91974  115377    805.0      0        NaN             0
91975       91975  115378   7250.0      0        NaN             0

[91976 rows x 6 columns]

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes      
**posts_sliced columns**: postId, Score, userId, ViewCount

In [9]:


user_sliced = users.loc[:, ['userId', 'Reputation', 'Views', 'UpVotes']]
print(user_sliced)

posts_sliced = update_posts.loc[:, ['postId', 'Score', 'userId', 'ViewCount']]
print(posts_sliced)

       userId  Reputation  Views  UpVotes
0          -1           1      0     5007
1           2         101     25        3
2           3         101     22       19
3           4         101     11        0
4           5        6792   1145      662
...       ...         ...    ...      ...
40320   55743           1      0        0
40321   55744           6      1        0
40322   55745         101      0        0
40323   55746         106      1        0
40324   55747           1      0        0

[40325 rows x 4 columns]
       postId  Score   userId  ViewCount
0           1     23      8.0     1278.0
1           2     22     24.0     8198.0
2           3     54     18.0     3613.0
3           4     13     23.0     5224.0
4           5     81     23.0        NaN
...       ...    ...      ...        ...
91971  115374      2    805.0        NaN
91972  115375      0  49365.0        9.0
91973  115376      1  55746.0        5.0
91974  115377      0    805.0        NaN
91975  115378      0   7250.0        NaN

[91976 rows x 4 columns]

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [13]:
merged_df = user_sliced.merge(posts_sliced, how='inner',  on='userId')
merged_df

       userId  Reputation  Views  UpVotes  postId  Score  ViewCount
0          -1           1      0     5007    2175      0        NaN
1          -1           1      0     5007    8576      0        NaN
2          -1           1      0     5007    8578      0        NaN
3          -1           1      0     5007    8981      0        NaN
4          -1           1      0     5007    8982      0        NaN
...       ...         ...    ...      ...     ...    ...        ...
90579   55734           1      0        0  115352      0       16.0
90580   55738          11      0        0  115360      2       40.0
90581   55742           6      0        0  115366      1       17.0
90582   55744           6      1        0  115370      1       13.0
90583   55746         106      1        0  115376      1        5.0

[90584 rows x 7 columns]

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [14]:
x = merged_df.isnull().sum()


print(x)

userId            0
Reputation        0
Views             0
UpVotes           0
postId            0
Score             0
ViewCount     48396
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [24]:
merged_df[merged_df['ViewCount'] > 0][['Score','UpVotes']]

       Score  UpVotes
211      152      662
219       28      662
221       75      662
233      156      662
238       10      662
...      ...      ...
90579      0        0
90580      2        0
90581      1        0
90582      1        0
90583      1        0

[42188 rows x 2 columns]

In [25]:
merged_df.loc[merged_df['ViewCount'] == 0 , ['Score','UpVotes'] ] ###############

Empty DataFrame
Columns: [Score, UpVotes]
Index: []

In [40]:
merged_df.loc[merged_df['ViewCount'] > 0] ######################

       userId  Reputation  Views  UpVotes  postId  Score  ViewCount
211         5        6792   1145      662       6    152    29229.0
219         5        6792   1145      662     103     28     1990.0
221         5        6792   1145      662     125     75    29261.0
233         5        6792   1145      662     423    156    64481.0
238         5        6792   1145      662     562     10     1005.0
...       ...         ...    ...      ...     ...    ...        ...
90579   55734           1      0        0  115352      0       16.0
90580   55738          11      0        0  115360      2       40.0
90581   55742           6      0        0  115366      1       17.0
90582   55744           6      1        0  115370      1       13.0
90583   55746         106      1        0  115376      1        5.0

[42188 rows x 7 columns]

In [36]:
null_df.iloc[6] # this is how we access viewcount

53.42665371368012

In [39]:

null_df = (x/len(merged_df))*100
print(null_df)
print('Since the percentage of missing values in ViewCount is so high', round(null_df.iloc[6], 2),'I think we should drop the whole column.')
                                                                        #^^^this refers to the % of viewcount that we've dropped
no_miss_merged_df = merged_df.copy()
                
no_miss_merged_df.drop(columns='ViewCount', inplace=True)
no_miss_merged_df

userId         0.000000
Reputation     0.000000
Views          0.000000
UpVotes        0.000000
postId         0.000000
Score          0.000000
ViewCount     53.426654
dtype: float64
Since the percentage of missing values in ViewCount is so high 53.43 I think we should drop the whole column.

       userId  Reputation  Views  UpVotes  postId  Score
0          -1           1      0     5007    2175      0
1          -1           1      0     5007    8576      0
2          -1           1      0     5007    8578      0
3          -1           1      0     5007    8981      0
4          -1           1      0     5007    8982      0
...       ...         ...    ...      ...     ...    ...
90579   55734           1      0        0  115352      0
90580   55738          11      0        0  115360      2
90581   55742           6      0        0  115366      1
90582   55744           6      1        0  115370      1
90583   55746         106      1        0  115376      1

[90584 rows x 6 columns]