# Data Cleaning 

#### 1. Import pandas library.

In [45]:
import pandas as pd

#### 2. Import the users table.

In [46]:
user_table = pd.read_csv(r"C:\Users\kim.buchner\Desktop\Ironhack\Module1\WEEK2\lab-data-cleaning\data\users.csv")

# r infront of string to avoid typing \\

In [47]:
user_table.head(20)

    Unnamed: 0  Id  Reputation  Views  UpVotes  DownVotes
0            0  -1           1      0     5007       1920
1            1   2         101     25        3          0
2            2   3         101     22       19          0
3            3   4         101     11        0          0
4            4   5        6792   1145      662          5
5            5   6         457    114       47          0
6            6   7         429     56       20          0
7            7   8        6764   1089      604         25
8            8  10         121     20        2          0
9            9  11         136     10       10          0
10          10  12         101     10        5          0
11          11  13         817    178       44          1
12          12  15          11      8        0          0
13          13  16         101      4        7          0
14          14  17         345     14       13          1
15          15  18         128      8       16          0
16          16  19         101     13        2          0
17          17  21         101      6        0          0
18          18  22         591     90      693          6
19          19  23         308     52       34          1

#### 3. Rename Id column to userId.

In [48]:
user_table = user_table.rename(columns={"Id":"userId"})
user_table

       Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0               0      -1           1      0     5007       1920
1               1       2         101     25        3          0
2               2       3         101     22       19          0
3               3       4         101     11        0          0
4               4       5        6792   1145      662          5
...           ...     ...         ...    ...      ...        ...
40320       40320   55743           1      0        0          0
40321       40321   55744           6      1        0          0
40322       40322   55745         101      0        0          0
40323       40323   55746         106      1        0          0
40324       40324   55747           1      0        0          0

[40325 rows x 6 columns]

#### 4. Import the posts table.

In [49]:
posts_table = pd.read_csv(r"C:\Users\kim.buchner\Desktop\Ironhack\Module1\WEEK2\lab-data-cleaning\data\posts.csv")
#Remove added column on y axis
posts_table = posts_table.drop("Unnamed: 0", axis = 1)

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [50]:
posts_table = posts_table.rename(columns={"Id":"postId", "OwnerUserId":"userId"})

posts_table.head()

   postId  userId  Score  ViewCount  CommentCount
0       1     8.0     23     1278.0             1
1       2    24.0     22     8198.0             1
2       3    18.0     54     3613.0             4
3       4    23.0     13     5224.0             2
4       5    23.0     81        NaN             3

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes      
**posts_sliced columns**: postId, Score, userId, ViewCount

In [51]:
users_sliced = user_table[["userId", "Reputation", "Views", "UpVotes"]]

#user_sliced = user.table.filter("userId", "Reputation", "Views", "UpVotes")

users_sliced.head()

   userId  Reputation  Views  UpVotes
0      -1           1      0     5007
1       2         101     25        3
2       3         101     22       19
3       4         101     11        0
4       5        6792   1145      662

In [52]:
posts_sliced = posts_table[["postId", "Score", "userId", "ViewCount"]]

#user_sliced = user.table.filter("userId", "Reputation", "Views", "UpVotes")

posts_sliced.head()

   postId  Score  userId  ViewCount
0       1     23     8.0     1278.0
1       2     22    24.0     8198.0
2       3     54    18.0     3613.0
3       4     13    23.0     5224.0
4       5     81    23.0        NaN

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [53]:
user_posts = posts_sliced.merge(users_sliced)
user_posts

       postId  Score   userId  ViewCount  Reputation  Views  UpVotes
0           1     23      8.0     1278.0        6764   1089      604
1          16     16      8.0        NaN        6764   1089      604
2          36     41      8.0    67396.0        6764   1089      604
3          65     14      8.0        NaN        6764   1089      604
4          78     33      8.0        NaN        6764   1089      604
...       ...    ...      ...        ...         ...    ...      ...
90579  115366      1  55742.0       17.0           6      0        0
90580  115370      1  55744.0       13.0           6      1        0
90581  115371      0  35801.0       19.0           1      1        0
90582  115375      0  49365.0        9.0           1      0        0
90583  115376      1  55746.0        5.0         106      1        0

[90584 rows x 7 columns]

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [54]:
#Find missing values
user_posts.isnull()

       postId  Score  userId  ViewCount  Reputation  Views  UpVotes
0       False  False   False      False       False  False    False
1       False  False   False       True       False  False    False
2       False  False   False      False       False  False    False
3       False  False   False       True       False  False    False
4       False  False   False       True       False  False    False
...       ...    ...     ...        ...         ...    ...      ...
90579   False  False   False      False       False  False    False
90580   False  False   False      False       False  False    False
90581   False  False   False      False       False  False    False
90582   False  False   False      False       False  False    False
90583   False  False   False      False       False  False    False

[90584 rows x 7 columns]

In [55]:
#Display columns that have isnull() = true
print(user_posts.isnull().sum())

postId            0
Score             0
userId            0
ViewCount     48396
Reputation        0
Views             0
UpVotes           0
dtype: int64

In [56]:
user_posts.sum()

postId        5.121536e+09
Score         2.518930e+05
userId        1.498872e+09
ViewCount     2.348421e+07
Reputation    5.690845e+08
Views         9.368606e+07
UpVotes       6.651726e+07
dtype: float64

In [57]:
#Count the missing values
user_posts.isnull().sum().sum()
print(f"There are {user_posts.isnull().sum().sum()} missing values in the dataset")

There are 48396 missing values in the dataset

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [43]:
#Using .fillna to replace the null values with whatever input in .fillna(" ")

user_posts["ViewCount"].fillna("no data", inplace = True)
user_posts[:26]

    postId  Score  userId ViewCount  Reputation  Views  UpVotes
0        1     23     8.0      1278        6764   1089      604
1       16     16     8.0   no data        6764   1089      604
2       36     41     8.0     67396        6764   1089      604
3       65     14     8.0   no data        6764   1089      604
4       78     33     8.0   no data        6764   1089      604
5      111      8     8.0   no data        6764   1089      604
6      114     30     8.0      1220        6764   1089      604
7      129      4     8.0   no data        6764   1089      604
8      142      5     8.0   no data        6764   1089      604
9      168     17     8.0      1022        6764   1089      604
10     170     56     8.0      7733        6764   1089      604
11     254      4     8.0   no data        6764   1089      604
12     262     13     8.0   no data        6764   1089      604
13     271      7     8.0   no data        6764   1089      604
14     301      6     8.0   no data        6764   1089      604
15     352      1     8.0   no data        6764   1089      604
16     356      2     8.0   no data        6764   1089      604
17     397      5     8.0   no data        6764   1089      604
18     412      4     8.0   no data        6764   1089      604
19     432     96     8.0   no data        6764   1089      604
20     845      5     8.0   no data        6764   1089      604
21     851      4     8.0   no data        6764   1089      604
22     855      1     8.0   no data        6764   1089      604
23     895      2     8.0   no data        6764   1089      604
24     975      2     8.0   no data        6764   1089      604
25     978      3     8.0   no data        6764   1089      604

In [ ]:
import numpy

In [60]:
#Replacing null values with the median of viewcount
user_posts["ViewCount"].fillna(user_posts["ViewCount"].mean(), inplace = True)
user_posts[:26]

    postId  Score  userId     ViewCount  Reputation  Views  UpVotes
0        1     23     8.0   1278.000000        6764   1089      604
1       16     16     8.0    556.656158        6764   1089      604
2       36     41     8.0  67396.000000        6764   1089      604
3       65     14     8.0    556.656158        6764   1089      604
4       78     33     8.0    556.656158        6764   1089      604
5      111      8     8.0    556.656158        6764   1089      604
6      114     30     8.0   1220.000000        6764   1089      604
7      129      4     8.0    556.656158        6764   1089      604
8      142      5     8.0    556.656158        6764   1089      604
9      168     17     8.0   1022.000000        6764   1089      604
10     170     56     8.0   7733.000000        6764   1089      604
11     254      4     8.0    556.656158        6764   1089      604
12     262     13     8.0    556.656158        6764   1089      604
13     271      7     8.0    556.656158        6764   1089      604
14     301      6     8.0    556.656158        6764   1089      604
15     352      1     8.0    556.656158        6764   1089      604
16     356      2     8.0    556.656158        6764   1089      604
17     397      5     8.0    556.656158        6764   1089      604
18     412      4     8.0    556.656158        6764   1089      604
19     432     96     8.0    556.656158        6764   1089      604
20     845      5     8.0    556.656158        6764   1089      604
21     851      4     8.0    556.656158        6764   1089      604
22     855      1     8.0    556.656158        6764   1089      604
23     895      2     8.0    556.656158        6764   1089      604
24     975      2     8.0    556.656158        6764   1089      604
25     978      3     8.0    556.656158        6764   1089      604